*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-flow: column wrap;
    background-color: #19A1AE;
    justify-content: center;
    align-content: center;
}

main{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
    background-color: #FFFFFF;
    width: 350px;
    height: 374px;
    margin: 173px 545px;
    border-radius: 15px;
}

#bcg-card{
    position:relative;
}

#avatar{
    width: 96px;
    height: 96px;
    border: 5px solid #FFFFFF;
    border-radius: 100%;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }