/*HTML margin and padding reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*body format with background*/
body{
    display: flex;
    flex-flow: column wrap;
    background-color: #19A1AE;
    justify-content: center;
    align-items: center;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    background-image: url(./images/bg-pattern-top.svg), url(./images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: bottom 20vh right 50vw, top 45vh left 50vw;
}

/*main card setting and format*/
main{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    background-image: url(./images/bg-pattern-card.svg);
    background-position: top;
    background-repeat: no-repeat;
    min-width: 350px;
    margin-top: 173px;
    min-height: 374px;
    border-radius: 15px;
}

/*card content format*/
#avatar{
    width: 96px;
    height: 96px;
    border: 5px solid #FFFFFF;
    border-radius: 100%;
    margin-top: 60px;
}

data{
    font-weight: 700;
}

#age{
    font-weight: 400;
    color: #6B7082;
}

.city{
    margin-top: 8px;
}

h1{
    font-size: 18px;
    margin-top: 15px;
}

h2{
    font-size: 18px;
}

.city{
    font-size: 14px;
    font-weight: 400;
    color: #6B7082;
}
.elements{
    font-size: 10px;
    color: #6B7082;
    letter-spacing: 1.5px;
    margin-top: 9px;
}

.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border-top: #E8E9EC 1px solid;
    margin-top: 20px;
    width: 100%;
    height: 60px;
    text-align: center;
    padding: 1rem;
}

.attribution { 
    font-size: 12px; 
    text-align: center; 
    color: black;
}

/*footer format*/
.attribution a { 
    color: pink;
}

.attribution a:hover { 
    color: yellow;
    text-decoration: none;
}